.header{
    padding: 20px 0px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 999;


    &__inner{
        @include FlexElement (space-between);

        .logo{
            font-size: 1.875em;
            font-weight: 700;
            color: #fff;

            span{
                color: $PrimaryColor;
            }
        }

        .nav{
            @include FlexElement (center);

            @media (max-width: 820px) {
                &{
                    display: none;
                }
            }

            .link{
                transition: opacity .3s;
                color: #fff;

                &:not(:first-child){
                    margin-left: 40px;
                }

                &:not(.link_active):hover{
                    opacity: 50%;
                }
            }

            .link_active{
                font-weight: 700;
                color: $PrimaryColor;
            }
        }

        .mobile_menu{
            cursor: pointer;
            display: none;

            @media (max-width: 820px) {
                &{
                    display: block;
                }
            }
        }
    }
}