.review{
    padding: $SectionPadding;

    &__inner{
        margin-top: 50px;

        .card{
            min-height: 500px;
            @include FlexElement (space-between);
            flex-direction: column;
            padding: 30px;
            border-radius: $Radius;
            text-align: center;

            &__title{
                font-size: 1.2em;
                font-weight: 700;
            }

            &__text{
                margin-top: 20px;
                max-width: 320px;
                text-align: center;
            }

            .stars{
                margin-top: 20px;
            }
        }
    }
}