$PrimaryFont    : 'Poppins', sans-serif;
$PrimaryColor   : #FF9314;
$Gradient       : linear-gradient(252.15deg, #1B3592 0.83%, #081543 99.55%);
$SectionPadding : 100px 0px;
$Radius         : 10px ;

