@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-size: 1em;
  font-weight: 400;
  color: #000;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

input, button, select {
  outline: none;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0% auto;
  padding: 0px 40px;
}

.section_title {
  font-size: 2em;
  padding: 10px 0px;
  font-weight: 700;
}
@media (max-width: 340px) {
  .section_title {
    font-size: 1.5em;
  }
}

.header {
  padding: 20px 0px;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 999;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner .logo {
  font-size: 1.875em;
  font-weight: 700;
  color: #fff;
}
.header__inner .logo span {
  color: #FF9314;
}
.header__inner .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 820px) {
  .header__inner .nav {
    display: none;
  }
}
.header__inner .nav .link {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: #fff;
}
.header__inner .nav .link:not(:first-child) {
  margin-left: 40px;
}
.header__inner .nav .link:not(.link_active):hover {
  opacity: 50%;
}
.header__inner .nav .link_active {
  font-weight: 700;
  color: #FF9314;
}
.header__inner .mobile_menu {
  cursor: pointer;
  display: none;
}
@media (max-width: 820px) {
  .header__inner .mobile_menu {
    display: block;
  }
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background: linear-gradient(252.15deg, #1B3592 0.83%, #081543 99.55%);
  padding: 400px 0px;
}
@media (max-width: 950px) {
  .intro {
    padding: 700px 0px;
  }
}
@media (max-width: 450px) {
  .intro {
    padding: 600px 0px;
  }
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
@media (max-width: 950px) {
  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.intro__inner .wrapper .title {
  font-size: 3.5em;
  font-weight: 700;
  line-height: 70px;
  color: #fff;
  max-width: 750px;
}
@media (max-width: 600px) {
  .intro__inner .wrapper .title {
    font-size: 2.5em;
    line-height: inherit;
  }
}
.intro__inner .wrapper .title span {
  color: #FF9314;
}
.intro__inner .wrapper .text {
  color: #fff;
  opacity: 40%;
  max-width: 400px;
  margin-top: 30px;
}
.intro__inner .wrapper .button {
  padding: 15px 40px;
  font-weight: 700;
  background: #FF9314;
  color: #fff;
  border-radius: 100px;
  border: 2px solid #FF9314;
  display: inline-block;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin-top: 50px;
}
.intro__inner .wrapper .button:hover {
  background: transparent;
}
.intro__inner .banner {
  max-width: 40%;
}
@media (max-width: 950px) {
  .intro__inner .banner {
    max-width: 100%;
    margin-top: 100px;
  }
}

.categories {
  padding: 100px 0px;
}
.categories__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}
.categories__inner .card {
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.categories__inner .card__img {
  max-width: 100%;
}
.categories__inner .card__wrapper {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.categories__inner .card__wrapper .title {
  font-weight: 700;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
}
.categories__inner .card__item {
  z-index: 1;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.categories__inner .card__item:hover {
  opacity: 1;
}
.categories__inner .card__item .button {
  padding: 15px 40px;
  font-weight: 700;
  background: #FF9314;
  color: #fff;
  border-radius: 100px;
  border: 2px solid #FF9314;
  display: inline-block;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.categories__inner .card__item .button:hover {
  background: transparent;
}

.benefits {
  padding: 100px 0px;
}
.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
@media (max-width: 1060px) {
  .benefits__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.benefits__inner .card {
  margin-right: 50px;
}
@media (max-width: 1060px) {
  .benefits__inner .card {
    margin-top: 50px;
    margin-right: 0%;
  }
}
.benefits__inner .card:not(:first-child) {
  margin-top: 70px;
}
.benefits__inner .card__icon {
  font-size: 2em;
  font-weight: 700;
  color: #FF9314;
}
.benefits__inner .card__title {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 10px;
}
@media (max-width: 340px) {
  .benefits__inner .card__title {
    font-size: 1em;
  }
}
.benefits__inner .card__text {
  max-width: 400px;
  margin-top: 15px;
  opacity: 80%;
}
@media (max-width: 340px) {
  .benefits__inner .card__text {
    font-size: 0.8em;
  }
}
.benefits__inner .banner {
  max-width: 50%;
}
@media (max-width: 1060px) {
  .benefits__inner .banner {
    max-width: 100%;
  }
}

.tours {
  padding: 100px 0px;
}
.tours__inner {
  margin-top: 50px;
}
.tours__inner .swiper {
  width: 100%;
  height: 100%;
}
.tours__inner .swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tours__inner .swiper .swiper-slide .card {
  text-align: center;
}
.tours__inner .swiper .swiper-slide .card__img {
  max-width: 100%;
}
.tours__inner .swiper .swiper-slide .card__title {
  font-weight: 700;
  margin-top: 10px;
}
.tours__inner .swiper .swiper-slide .card__button {
  padding: 15px 40px;
  font-weight: 700;
  background: #FF9314;
  color: #fff;
  border-radius: 100px;
  border: 2px solid #FF9314;
  display: inline-block;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.1em;
}
.tours__inner .swiper .swiper-slide .card__button:hover {
  background: transparent;
}
.tours__inner .swiper .swiper-slide .card__button:hover {
  color: #FF9314;
}

.about {
  padding: 100px 0px;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
@media (max-width: 1060px) {
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__inner .wrapper {
  margin-right: 30px;
}
.about__inner .wrapper .text {
  max-width: 790px;
}
@media (max-width: 1060px) {
  .about__inner .banner {
    margin-top: 50px;
    max-width: 100%;
  }
}